:root {
  --black: #000;
  --green: #82b340;
  --white: #ffffff;
  --grey: #ececec;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: var(--white);
  color: var(--black);
}